@{
	 ViewBag.Title = "Acerca";
	 ViewBag.Message = "Hola mundo";
}
<h2>@ViewBag.Title</h2>
<p>
	 Kike Taxi service es una empresa que brinda el servicio de taxi a la comunidad Liberteña, 
	 con una amplia flota de vehículos muy bien acondicionados para la satisfaccion de nuestros clientes.
	 Ademas se cuenta con un sistema de monitoreo de posicionamiento global para la seguridad
</p>
