@{
    ViewBag.Title = "Kike Taxi Service";
}

<div class="jumbotron">
    <h1>Kike Taxi Service</h1>
    <p class="lead">Kike Taxi Service es un sistema para el registro y control de servicio de taxi, 
			el cual lleva el registro de toda la flota de los vehículos, conductores y clientes.</p>
</div>
